<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dat153">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hvl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hvl"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAT153">

        <activity android:name=".Activity.PlayActivity" />
        <activity android:name=".Activity.NewQuestionActivity" />
        <activity android:name=".Activity.DatabaseActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>